@import "tailwindcss";

@theme {
  --font-family-manrope: "Manrope", sans-serif;
  --font-family-poppins: "Poppins", sans-serif;
}

:root {
  font-family: "Montserrat", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* Resto de tu CSS */
:root {
  font-family: "Montserrat", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Montserrat", system-ui, Avenir, Helvetica, Arial, sans-serif;
  overflow-x: visible;
  overflow-y: visible;
}

/* Asegurar que todos los elementos hereden Montserrat */
* {
  font-family: inherit;
}

html,
body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #0f6f7c;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f5f9;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #0f6f7c #f1f5f9;
}
