
   @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:wght@300;400;500;600;700&display=swap');

   @import "tailwindcss";

   @layer base {
     :root {
       --font-manrope: "Manrope", system-ui, -apple-system, "Segoe UI", Roboto,
         "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
   
       --font-poppins: "Poppins", system-ui, -apple-system, "Segoe UI", Roboto,
         "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
     }

     html,
     body {
       font-family: var(--font-poppins);
       line-height: 1.5;
       font-weight: 400;
       background-color: #ffffff;
       color: rgba(0, 0, 0, 0.85);
       margin: 0;
       padding: 0;
   
       -webkit-font-smoothing: antialiased;
       -moz-osx-font-smoothing: grayscale;
     }
   }
   
   @layer utilities {
     .font-manrope {
       font-family: var(--font-manrope);
     }
   
     .font-poppins {
       font-family: var(--font-poppins);
     }
   }
   

   ::-webkit-scrollbar {
     width: 8px;
   }
   
   ::-webkit-scrollbar-thumb {
     background-color: #0f6f7c;
     border-radius: 8px;
   }
   
   ::-webkit-scrollbar-track {
     background: #f1f5f9;
   }

   * {
     scrollbar-width: thin;
     scrollbar-color: #0f6f7c #f1f5f9;
   }
   